%nav.navbar.bg-success.navbar-expand-lg
  .container-fluid
    %a.navbar-brand.text-white{href: '#'}
      CoffeShop ITAM
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button" }
      %span.navbar-toggler-icon.text-white
    .collapse.navbar-collapse{id: "navbarSupportedContent"}
      %ul.navbar-nav.ms-auto
        %li.nav-item
          = link_to "Categories", categories_url, method: :get, class: "nav-link text-white"
        %li.nav-item
          = link_to "Foods", foods_url, method: :get, class: "nav-link text-white"
        - if user_signed_in?
          %li.nav-item
            = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link text-white"
 
